.custom-padding {
  padding-bottom: 650px;
  background-color: rgb(202, 251, 255);
}

h1 {
  padding-top: 50px;
  font-family: "Berkshire Swash", serif;
  font-style: italic;
}

button .btn #reset {
  font-family: "Berkshire Swash", serif;
}
